<form id="systemset-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">小程序appid:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appid" data-rule="required" class="form-control" name="row[appid]" type="text" value="{$row.appid|htmlentities}">
            <p class="help-block">*登录微信公众平台查看 <a href="https://mp.weixin.qq.com/" target="_blank">https://mp.weixin.qq.com/</a></p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">小程序secret:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-secret" data-rule="required" class="form-control" name="row[secret]" type="text" value="{$row.secret|htmlentities}">
            <p class="help-block">*登录微信公众平台获取 <a href="https://mp.weixin.qq.com/" target="_blank">https://mp.weixin.qq.com/</a></p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">开屏广告:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-ad_image" data-rule="required" class="form-control" size="50" name="row[ad_image]" type="text" value="{$row.ad_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-ad_image" class="btn btn-danger plupload" data-input-id="c-ad_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-ad_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-ad_image" class="btn btn-primary fachoose" data-input-id="c-ad_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-ad_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-ad_image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">官网地址:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-web_url" data-rule="required" class="form-control" name="row[web_url]" type="text" value="{$row.web_url|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">客服电话:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-web_mobile" data-rule="required" class="form-control" name="row[web_mobile]" type="text" value="{$row.web_mobile|htmlentities}">
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">购房材料模板:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-house_image" data-rule="required" class="form-control" size="50" name="row[house_image]" type="text" value="{$row.house_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-house_image" class="btn btn-danger plupload" data-input-id="c-house_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-house_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-house_image" class="btn btn-primary fachoose" data-input-id="c-house_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-house_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-house_image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">稳定就业证明模板:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-job_image" data-rule="required" class="form-control" size="50" name="row[job_image]" type="text" value="{$row.job_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-job_image" class="btn btn-danger plupload" data-input-id="c-job_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-job_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-job_image" class="btn btn-primary fachoose" data-input-id="c-job_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-job_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-job_image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公众号图片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-public_image" data-rule="required" class="form-control" size="50" name="row[public_image]" type="text" value="{$row.public_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-public_image" class="btn btn-danger plupload" data-input-id="c-public_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-public_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-public_image" class="btn btn-primary fachoose" data-input-id="c-public_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-public_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-public_image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">版权声明</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-service_text" class="form-control" name="row[service_text]" rows="10">{$row.service_text|htmlentities}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">隐私保护</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-privacy_text" class="form-control" name="row[privacy_text]" rows="10">{$row.privacy_text|htmlentities}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">免责声明</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-exemption_text" class="form-control" name="row[exemption_text]" rows="10">{$row.exemption_text|htmlentities}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">关于我们</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-about_text" class="form-control" name="row[about_text]" rows="10">{$row.about_text|htmlentities}</textarea>
        </div>
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>