<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Room')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-room" data-rule="required" class="form-control selectpicker" name="row[room]">
                {foreach name="roomList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.room"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Saloon')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-saloon" data-rule="required" class="form-control selectpicker" name="row[saloon]">
                {foreach name="saloonList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.saloon"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Toilet')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-toilet" data-rule="required" class="form-control selectpicker" name="row[toilet]">
                {foreach name="toiletList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.toilet"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Orientation')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-orientation" data-rule="required" class="form-control selectpicker" name="row[orientation]">
                {foreach name="orientationList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.orientation"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sale')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-sale" data-rule="required" class="form-control selectpicker" name="row[sale]">
                {foreach name="saleList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.sale"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Area')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-area" data-rule="required" class="form-control" step="0.01" name="row[area]" type="number" value="{$row.area|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Building_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-building_id" data-rule="required" data-source="building/index" class="form-control selectpage" name="row[building_id]" type="text" value="{$row.building_id|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
